<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>sj4webmargecommande</name>
    <displayName><![CDATA[SJ4WEB - Order margin]]></displayName>
    <version><![CDATA[2.0.2]]></version>
    <description><![CDATA[Theoretical order margin: revenue - purchase cost - dropshipping cost - payment commission.]]></description>
    <author><![CDATA[SJ4WEB.FR]]></author>
    <tab><![CDATA[administration]]></tab>
    <confirmUninstall><![CDATA[Uninstall? The margin rules and cache are removed; order_fees is kept.]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>
